.header{
    display: flex;
    height:100vh;
    width: 100vw;
}


.left{
    width: 33vw;
    background-image: url(Assets/Images/waterfall.webp);
      background-size: cover;        
      background-position: center;   
      background-repeat: no-repeat; 
      border-radius: 10px;
    
}
.middle{
    width: 60vw;
    background-color: rgb(237, 218, 218);
    border-radius: 10px;

}
.right{
    width: 33vw;
    background-color: #1F3D2B;
    border-radius: 10px;

}

.trilayer{
    display: flex;
    flex-direction: column;

}